.home {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.areaTotalizadores {
    width: 845px;
    margin-bottom: 60px;

    display: flex;
    justify-content: space-between;
}

.areaInformacoes {
    width: 1058px;

    display: flex;
    justify-content: space-between;
}

.areaInformacoes > div {
    width: 520px;
    height: 330px;

    background-color: var(--bg-color-2);
    border: 1px solid var(--bg-color-4);
    border-radius: 15px;

    padding: 30px;
}

.areaInformacoes > div > h1{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    color: var(--color-text-1);

    margin-bottom: 30px;

    align-self: flex-start;
}

.transacoes table {
    width: 100%;
    border-spacing: 0;
}

.transacoes table td {
    height: 30px;
    border-bottom: 1px solid var(--bg-color-4);
}

.dinheiro {
    text-align: right;
}

.transacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#verMais {
    margin-top: 15px;

    font-size: 10px;
    font-weight: 700;
    line-height: 11.72px;
    color: var(--color-text-1);
}

.receitasDespesas {
    display: flex;
    flex-direction: column;
}

.receitasDespesas > div {
    display: flex;
    justify-content: space-between;
}

.graficos {
    padding: 5px;
    width: 220px;
    height: 220px;
    display: inline-block;
}