.menuArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: var(--bg-color-4) 0px 5px 10px;

    background-color: var(--bg-color-2);
}

.areaUsuario {
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.areaUsuario div {
    height: 95px;
    width: 95px;
    margin-bottom: 20px;

    border-radius: 50%;
    background-color: var(--bg-color-3);
}

.areaUsuario span {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    color: var(--color-text-1);
}

.menu {
    flex: 1;
    background-color: var(--bg-color-3);
    padding-top: 40px;

    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}